
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>


  <div>
    <form [formGroup]="searchForm">
      <input type="text" name="" formControlName="search" placeholder="search character" id="">
      </form>


      <div *ngIf="characterList?.length" class="container">
        <div *ngFor="let character of characterList" >
          <app-character [character]="character"></app-character>
        </div>
      </div>

      <ng-container *ngIf="!characterList?.length">NOT FOUND</ng-container>
  </div>

